body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    /*background-image: url('img/pokemon-background.jpg');  */
    background-attachment: fixed;
}

.d-none {
    display: none;
}

.d-hidden {
    visibility: hidden;
}

.p-fixed {
    position: fixed;
    right: 0px !important;
}

table {
    position: absolute;
    top: 170px;
    left: 10px;
    width: 230px !important;
    font-size: 12px;
}

td:hover {
    cursor: pointer;
}

.mobile-button {
    width: 135px;
    height: 40px;
    position: absolute;
    top: 95px;
    left: 10px;
    color: white;
    border-radius: 5%;
    background-color: black;
    display: none;
}

.headline {
    font-size: 50px;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 10px;
    top: 10px;
    background: black;
    border-radius: 5%;
    padding: 15px;
    display: flex;
    align-items: center;
}

.headline img {
    object-fit: cover;
    height: 40px;
    width: 40px;
}

.pokemon-headline {
    margin-right: 10px;
}

.big-container {
    display: flex;
}

.background-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.68;
    background-image: url('img/pokemon-background.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.small-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 130px;
    margin-bottom: 40px;
    padding-top: 20px;
}

.small-card-images img {
    height: 90px;
    width: 90px;
}

.deck {
    display: flex !important;
    background-image: url('img/pokeball2.png');
    background-size: 30px 30px;
    background-repeat: repeat-x;
    background-position: 50% 60%;
    justify-content: center !important;
    margin-top: 25px;
    margin-right: 25px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 6px solid silver;
    min-width: 130px;
    max-height: 175px;
    filter: brightness(0.7);
    transition: transform .2s
}

.deck:hover {
    filter: brightness(1);
    cursor: pointer;
    transform: scale(1.2);
}

.pokedex-overview {
    display: flex;
    flex-direction: row;
    z-index: 2;
    max-width: 50vw;
    max-height: 30vh;
    flex-wrap: wrap;
    margin-top: 80px;
    
}

h1 {
    font-weight: 700 !important;
}

.h2 {
    font-size: 19px !important;
    margin-top: 15px !important;
    font-weight: 700 !important;
}

.h3 {
    font-size: 19px !important;
    color: white;
    font-weight: 600;
}

.pokecard {
    width: 50vw;
    display: flex;
    flex-direction: column;
    border: 2.5px solid lightgray;
}

.wholeCard {
    z-index: 99;
    max-height: 100vh;
    right: 80px;
}

.pokedex {
    min-height: 50vh;
    min-width: 430px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: 15px;
    background-color: #FB6C6C;
    background-image: url('img/pokeball2.png');
    /*source: https://www.pngkit.com/todmca/*/
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: 90% 16%;
    color: white;
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
}

.info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -65px;
    min-height: 400px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 0.5px solid rgb(112, 108, 108, 0.2);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

#pokemonImage {
    height: 200px;
    margin-top: -140px;
    margin-left: 0;
    margin-bottom: 15px;
}

.top-bar {
    background-color: rgb(146, 141, 141, 0.1);
    display: flex;
    justify-content: space-evenly;
}

.top-bar a {
    color: rgb(179, 165, 165);
    text-decoration: none;
    padding: 11px;
    margin-left: 5px;
    margin-right: 5px;
}

.top-bar a:hover {
    color: lightblue;
    text-decoration: none;
    border-bottom: 3px solid lightblue;
    padding-bottom: 8px;
}

.info {
    display: flex;
    max-width: 420px;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 28px;
    padding-right: 28px;
    margin-top: 18px;
    font-size: 15px;
}

.sub-info {
    display: flex;
    justify-content: initial;
}

.right {
    display: flex;
    font-weight: 600;
    min-width: 180px;
    justify-content: flex-start;
    padding-left: 70px;
}

.left {
    color: rgb(134, 127, 127);
    width: 86px;
}

.progress-bar1 {
    color: red !important;
    background-color: red !important;
}

.progress-bar2 {
    color: blue !important;
    background-color: blue !important;
}

.progress-bar3 {
    color: green !important;
    background-color: green !important;
}

.progress-bar4 {
    color: rgb(106, 150, 165) !important;
    background-color: rgb(106, 150, 165) !important;
}

.progress-bar5 {
    color: rgb(79, 214, 79) !important;
    background-color: rgb(79, 214, 79) !important;
}

.progress-bar6 {
    color: rgb(224, 224, 72)!important;
    background-color: rgb(224, 224, 72) !important;
}

.progress {
    position: relative;
    min-width: 100px;
}

.badge {
    border-radius: 0.5em;
    border: 0.5px solid rgb(90, 85, 85);
    font-size: 1em !important;
}

.badge-primary {
    font-size: 12px !important;
}

.dark-yellow {
    background-color: #dac421 !important;
}

.dark-yellow2 {
    background-color: #e9de8f !important;
}

.reddish {
    background-color: #db3838 !important;
}

.reddish2 {
    background-color: #FB6C6C;
}

.blueish {
    background-color: rgb(73, 73, 168) !important;
}

.blueish2 {
    background-color: rgb(148, 148, 223) !important;
}

.greenish {
    background-color: rgb(21, 121, 21) !important;
}

.greenish2 {
    background-color: rgb(100, 187, 100) !important;
}

.silverish {
    background-color: rgb(124, 114, 114) !important;
}

.silverish2 {
    background-color: rgb(236, 221, 221) !important;
}

@media(max-width: 900px) {
    .mobile-button {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .wholeCard {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
       
    }
    .background-container {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .pokedex-overview {
        margin-top: 130px;
        margin-left: 15px
    }
    #pokemonImage {
        height: 140px;
        margin-top: -103px;
        margin-left: 0;
        margin-bottom: 15px;
    }
    .pokedex {
        min-height: 45vh;
        min-width: 350px;
        margin-top: 55px;
    }
    .pokedex img{
        height: 10px;
        width: 10px;
    }
    .info-container {
        margin-top: -65px;
        min-height: 350px;
    }
    .deck {
        min-width: 130px;
        max-height: 175px;
        filter: brightness(0.7);
        transition: transform .2s
    }
    .deck:hover {
        transform: scale(1.05);
    }
    
    
}